﻿@model ProyectoCurso2.Models.InventariosModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InventariosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stockentrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stockentrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stocksalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stocksalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productos.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
