﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index" >Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Clientes" asp-action="Index">Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Clientes" asp-action="Create">Registro Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Clientes" asp-action="FirstClients">Ver 1er Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Productos" asp-action="Index">Producto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Vendedores" asp-action="Index">Vendedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Inventarios" asp-action="Index">Inventarios</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-12">
                <div class="text-justify">
                    <h5 class="display-4">La fecha y hora es: @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss") </h5><br />
                    <h4 class="d-none" id="mensaje1">Hola @User.Identity.Name!</h4>
                    <p class="d-block" id="mensaje3">Bienvenidos al Sistema Gestión de Pedidos</p>
                    <h4 class="d-none" id="mensaje2">Hola @User.Identity.Name!</h4>
                </div>
            </div>
            <div class="col-4">
                <a class="nav-link text-dark" title="Click Despues" href="#" onclick="mensajes('mensaje1')">Click Despues</a>
            </div>
            <div class="col-4">
                <a class="nav-link text-dark" title="Click Antes" href="#" onclick="mensajes('mensaje2')">Click Antes</a>
            </div>
            <div class="col-4">
                <a class="nav-link text-dark" title="Click Reemplazar" href="#" onclick="mensajes('mensaje3')">Click Reemplazar</a>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        function mensajes(id) {
            if (id == "mensaje1") {
                $("#mensaje1").removeClass("d-none").addClass("d-block");
                $("#mensaje2").removeClass("d-block").addClass("d-none");
                $("#mensaje3").removeClass("d-none").addClass("d-block");
            }
            else {
                if (id == "mensaje2") {
                    $("#mensaje1").removeClass("d-block").addClass("d-none");
                    $("#mensaje2").removeClass("d-none").addClass("d-block");
                    $("#mensaje3").removeClass("d-none").addClass("d-block");
                }
                else {
                        $("#mensaje1").removeClass("d-none").addClass("d-block");
                        $("#mensaje2").removeClass("d-block").addClass("d-none");
                        $("#mensaje3").removeClass("d-block").addClass("d-none");
                }
            }
        }
    </script>
}
